* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 14pxgi;
}

body {
    width: 100%;
    min-height: 100vh;
    background: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 40rem;
}

.instagram-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.card:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.btn-login {
    background: #0095f6;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.btn-login:hover {
    cursor: pointer;
}

.btn-login:active {
    background: #6ec0f7;
}

.blue-link {
    color: #0095f6;
}

.wrong-account {
    color: rgb(160, 160, 160);
}

.app-download-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download-img {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download-img:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download-img:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 600px) {
    body {
        background: white;
    }

    .card {
        border: none;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-login {
        width: 100%;
    }
}
